<div style="text-align: center;">
  <h1 style="margin-top: 30px;">
    Welcome to IoTsens technical test!
    <hr>
  </h1>
</div>
<div class="container">
  <h2>Links actions: </h2>
  <button (click)="Add()" class="btn btn-info">Go to var definitions</button>
  <button (click)="List()" class="btn btn-info" style="margin-left: 10px;">Got to script evaluation</button>
</div>

<router-outlet></router-outlet>