<div class="container">
    <div class="card" style="margin-top: 10px;">
        <div class="card-header">
            <h1>{{ title }}</h1>
        </div>
        <div class="card-body">
            <app-form></app-form>
        </div>
    </div>
</div>