<form [formGroup]="addForm" (submit)="guardar(addForm.value)">
    <div class="form-group">
        <div formArrayName="variables">
            <div *ngFor="let variable of addForm.get('variables').controls; let i = index;">
                <div [formGroupName]="i">
                    <input type="text" formControlName="keyVal" placeholder="key">&nbsp;&nbsp;
                    <input type="text" formControlName="value" placeholder="value">
                    <a (click)="removeVariable(i)" class="btn btn-link">Remove</a>
                </div>
            </div>
        </div>
        <a (click)="addVariable()" class="btn btn-secondary" style="float: right; margin-top: 6px; color: white;">add
            variable</a>
        <br><br><br><br>
    </div>
    <div class="form-group">
        <textarea rows="8" cols="50" formControlName="text" placeholder="Script..."></textarea><br>
        <input type="submit" value="save vars & srcipt" class="btn btn-primary" style="float: right;" /><br/>
    </div>
</form>