<div class="container">
    <div class="card" style="margin-top: 10px;">
        <div class="card-header">
            <h1>Scripts evaluation</h1>
        </div>
        <div class="card-body">
            <form (submit)="evaluateAll()">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>SCRIPT</td>
                            <td>RESULT</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let evaluation of evaluations" class="text-center">
                            <td>{{ evaluation.name }}</td>
                            <td>{{ evaluation.result }}</td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="evaluate all" class="btn btn-primary" style="float: right;" /><br/>
            </form>
        </div>
    </div>
</div>